
<% include header %>
	
<div class="row">
<div	class="col-md-4">
        <section>
                <h3 class="section-header"><strong>PRESENT:</strong></h3>
                        <p class="section-header"> 
                            <b>I am new member for fall 2018 in applied computer science .</b></p>
                            <section id="past-section"><h3 class="section-header"><strong>Education:</strong></h3>
                            <p>
                            <b>
                            I am from India. I completed my undergraduation in computer science and engineering at R.V.R&J.C COLLEGE OF ENGINEERING.I did my internship in Hindustan computer limited for nine months.
                            </b>
                            </p>
                        <br>
                </section>
                
</div>
    <div class="col-md-4">
            <h3 class="section-header"><strong>Skills</strong></h3>
            <p class="section-header"> 
                <ul>
                    <li>Good at C Programming.</li>
                    <br>
                    <li>Good at Browsing.</li>
                </ul>
                <br>
                <h3 class="section-header"><strong>Interest</strong></h3>
            <p class="section-header"> 
                <p><b>I would love to play games all time.</b></p>
                

                </p>

            
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UB1O30fR-EE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
    </section>


    </div>

        
    
            <div class="col-md-4">
                
            
        
         <img src="images/IMG_20170529_114701.jpg" class="rounded-circle"  width="204" height="136" >
        
     
        </div>
     
     
     
    </div>
    <% include footer %>
    
            
        




<aside>
<h3>Contact Information:</h3>
<P>Mail:S533904@nwissouri.edu</P>
<P>+919581280457</P>

</aside>

<% include footer %>
