
<% include header %>
	
      <body>
          <h1><marquee>Calculating the Mathematical</marquee> </h1>
      
      Enter the Value: <br> <input type="number" name="number" value="" id="num"> 
  <form> 
          
      <input type="radio" name="calculation" id="square">square<input type="radio" name="calculation" id="reverse"> Reverse <input type="radio" name="calculation" id="strong"> strongnumber<br>
  </form>
  
  <button type="button" onclick="calculator()"> Submit</button>   <br><br>
  Result: <p id=result></p>
  <script src="js/jquery.tictac.js"></script>
  <% include footer %>
